<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>
    <% colors = {} %>
    <% meetings.each do |meeting| %>
      <% if colors[meeting.dream.name].nil? %>
        <% if colors.length % 2 == 0 %>
          <% colors[meeting.dream.name] = "#FF0000" %>
        <% else %>
          <% colors[meeting.dream.name] = "#00FF00" %>
        <% end %>
      <% end %>
      <div class="meeting" style="background-color: <%= colors[meeting.dream.name] %>;">
        <%= meeting.dream.name %>
      </div>
    <% end %>
  <% end %>
</div>
