<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <div class="meeting">
       <%= meeting.dream.name %>
      </div>
    <% end %>
  <% end %>
</div>
