<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="all-selector">
        <%= form_with url: dreams_path, method: :get do |f| %>
          <%= f.label "rechercher votre marque" %>
          <%= f.search_field :query %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
