<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="all-selector">
        <%= search_form_for @q do |f| %>
          <%= f.label "rechercher votre marque" %>
            <%= f.search_field :name %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
