<div class="home background">
  <div class="container">
    <div class="center_content">

      <h1>Welcome To Book Ta Car !</h1>
    <p><span data-controller="typed-js"></span></p>
    <br>
    <br>
    <h2 class="pb-5">The car rental platform between individuals !</h2>
      <%= link_to "All the cars here !", dreams_path, class: "button"%>
    </div>
  </div>
</div>
