.chatroom {
  background: rgb(255, 255, 255);
  margin-top: 9px;
  // height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  flex-grow: 1;
  color: black;

  .form-control{
    width: 100%;
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    color: black;
  }

  .color-message{
    color: black;
  }

  .messages {
    height: 50%;
    overflow: scroll;
    padding: 1rem;
    p{
      color: black;
      padding: 10px;
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
  .cont{
    color: white;
    border-radius: 6px;
    padding: 100px;
    margin: 0 auto;
    margin-top: 3%;
    padding-top: 10px;
    margin-bottom: 200px;
    height: 130vh;
  }
}


.chatroom .container{
    margin-bottom: 0px;
}
