.title{
  margin: 20px;
}

.image{
  height: 220px;
  width: 280px;
  border-radius: 8px;
}
.card-for-img-and-mapbox{
  height: fit-content;
}
.row{
  color: black;
}

.form-inline{
  display: flex;
}
.form-inline .form-control{
  width: 40%;
}
.b-box{
  display: flex;
  width: 100%;
}

.card-for-img-and-mapbox{
width: 90%;
display: flex;
flex-wrap: wrap;
}

.div-card{
  display: flex;
  flex-direction: column;
  margin: 10px;
  grid-column: 1;
  width: 300px;
  height: fit-content;
}

.div-card h5{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  font-size: 15px;
  margin-top: 5px;
}

.index-map{
  width: 42%;
  position: sticky;
  top: 100px;
}

.search-form{
  background-color: #FFF1FB;
  border: none;
}

.form-logo{
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-right: -3px;
}

//Heart

.buttons {
  border: none;
  background-color: #FFF1FB;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.fa-heart::before{
  color: #cb1c1c;
}

.button-like{
  border: none;
  background-color: #FFF1FB;
}
