.css-for-login{
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #341C2D;
  padding: 50px;
  color: white;
  border-radius: 10px;

}

.reve-img{
  width: 300px;
  height: 550px;
}

.login-title{
  margin: 20px;
}

.group-login{
  display: flex;
}
