.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style p{
  background-color: rgb(132, 208, 233);
  border-radius: 8px;
}

.receiver-style {
  background-color: rgb(210, 210, 210);
}
