.big-title-show{
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.text-for-show{
  margin-left: 330px;
}

.image-show-dreams img{
  width: 800px;
  height: 500px;
}

.image-show-dreams{
  margin-left: auto;
  margin-right: auto;

}

.show-description{
  margin: 30px 290px 30px 290px;
}
