.css-for-login{
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #814570;
  padding: 50px;
  color: white;
  border-radius: 10px;

}

.reve-img{
  width: 250px;
  height: 450px;
}

.login-title{
  margin: 20px;
}

.group-login{
  display: flex;
  width: 60%;
}

.form-inputs{
  align-items: center;
  width: 550px;
  margin-right: 80px;
}

.button-login{
  color: white
}
