.csspopup{

  p{
    font-size: 14px;
    margin: 5px;
    color: rgb(0, 0, 0);
  }
  img{
    width: 170px;
    height: 150px;
    margin: 5px;
    border-radius: 8px;
  }
}

//popup js
.mapboxgl-popup-content{
  border-radius: 10px;
  background-color: #FFF1FB;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  align-self: center;
  border-bottom-color: #FFF1FB;
  border-top: none;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  align-self: flex-start;
  border-bottom-color: #FFF1FB;
  border-left: none;
  border-top: none;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    align-self: flex-end;
    border-bottom-color: #FFF1FB;
    border-right: none;
    border-top: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  align-self: center;
  border-bottom: none;
  border-top-color: #FFF1FB;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  align-self: flex-start;
  border-bottom: none;
  border-left: none;
  border-top-color: #FFF1FB;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: #FFF1FB;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: #FFF1FB;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  align-self: flex-end;
  border-bottom: none;
  border-right: none;
  border-top-color: #FFF1FB;
}
